.root {
    @apply block relative py-1 px-2 cursor-pointer font-semibold text-cyan-600 transition-colors hover:bg-btnlight hover:text-cyan-400 text-center duration-200 overflow-hidden rounded-sm;
}

.ripplebox {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
}

@keyframes ripple {
  from {
    transform: scale(0.3);
    opacity: 0.2;
  }
  to {
    transform: scale(2);
    opacity: 0.8;
  }
}

.ripple {
    height: 200%;
    width: 100%;
    box-shadow: 0px 0px 10px 5px white;
    background: rgba(200,255,255, 0.6);
    transform-origin: center;
    transform: scale(0);
    opacity: 0.2;
}

.focused {
    @apply shadow-cyan-400 shadow-inner outline-none;
}

.ripple__active {
    animation-name: ripple;
    animation-duration: 0.8s;
}

.active {
  @apply bg-btnlight;
}

.disabled {
    @apply bg-btnlight text-gray-500 pointer-events-none;
}