.root {
    @apply py-2 flex align-middle transition-all duration-300 ease-out rounded-sm;
    opacity: 1;
}

.active {
    opacity: 0.8;
    @apply bg-gray-800;
    cursor: pointer;
    transform: scale(0.99);
}