.field {
    @apply flex items-center rounded-sm bg-slate-900;
}

.field:focus-within {
    outline: 1px dotted #212121;
    outline: 2px auto -webkit-focus-ring-color;
}

.input {
    @apply border-none outline-none bg-transparent p-2 h-8 rounded-sm text-base w-full min-w-[120px];
}