@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .glow-border {
        @apply rounded-lg hover:border-cyan-400 border-cyan-600 border-2 hover:shadow-sky-400 shadow-inner;
    }

    .glow-text {
       @apply text-cyan-200 hover:text-cyan-100;
    }


    .sidebar-icon {
        @apply relative flex items-center justify-center h-12 w-12 mx-auto my-4 
        bg-transparent cursor-pointer transition-all duration-300 ease-in-out
        hover:scale-95 font-bold text-lg;
    }

    .sidebar-tooltip {
        @apply absolute bg-gray-300 dark:bg-gray-800 left-20 px-4 py-2 text-sm border-cyan-300 pointer-events-none rounded-l-lg rounded-r-lg opacity-0 transition-opacity duration-100 ease-linear delay-300 text-sky-200 font-bold uppercase text-center;
        box-shadow: 0px 2px 10px 3px rgba(20,20,20,0.3);
    }
}

html, body {
    margin: 0;
    @apply w-full h-full;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.light-shadow {
    box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.2);
}

.scrollBox::-webkit-scrollbar {
    width: 5px;
} 
  
.scrollBox::-webkit-scrollbar-track { 
    border-radius: 3px;
}   
  
.scrollBox::-webkit-scrollbar-thumb {
    background: cyan; 
    opacity: 0.2;
    border-radius: 10px;
    transition: opacity 1s;
}
  
.scrollBox:hover::-webkit-scrollbar-thumb {
    opacity: 0.7; 
}
